<ion-view class="consultoria-bg">
    <div class="icon-menu">
        <a href="#/menu"><img src="./assets/img/icon-menu-services.png" /></a>
    </div>
    <ion-content>
        <div class="page">
            <div class="column">
                <div class="bg-image image-design"></div>
                <div class="content design-bg">
                    <div class="page-title page-title-services page-title-design">
                        <img src="./assets/img/title-design.png" />
                    </div>
                    <div class="description design-description">
                        Elaborar o espaço coerentemente, seguindo normas técnicas de ergonomia, acústica, térmico e luminotécnica  capaz de captar as reais necessidades dos clientes e concretiza-las através de projetos específicos. A reconstrução do espaço através da releitura do layout, da ampliação ou redução de espaços, dos efeitos cênicos e aplicações de tendências e novidades técnicas, do desenvolvimento de peças exclusivas.

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="bg-image image-consultoria"></div>
                <div class="content consultoria-bg">
                    <div class="page-title page-title-services page-title-consultoria">
                        <img src="./assets/img/title-consultoria.png" />
                    </div>
                    <div class="description consultoria-description">
                        A consultoria serve para orientar o cliente, sugerir idéias e assim fazer com que um ambiente se transforme em outro sem muito trabalho.  Este serviço é cobrado por hora técnica, ou seja, o tempo que o profissional passa  com o cliente, seja em sua casa conversando e dando dicas ou nas lojas orientando suas compras, é cobrado proporcionalmente em horas.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>