body, .pane {
    border: 8px solid #dedede;    
}

html, body, div.full-height {
    /*    display: inline-flex;*/
    width: 100%;
    height: 100%;
}

div.half-screen-row {
    display: block;
    height: 50%;
}

.row {
/*
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
    height: 50%;
    padding: 0px;

}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.bg, .menu-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
}

.row + .row {
/*
    margin-top: 0px;
    padding-top: 0;
*/
}


.page {
    height: 100%;
}

.icon-menu {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
}

.image img {
    display: block;
    width: 100%;
}

.body-center {
    width: 680px;
    margin: auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
}

.content {
    font-family: 'roboto-light-webfont';
    text-align: justify;
    font-size: 17px;
    color: #fff;
    min-height: 35vh;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
}

.page-title {
    min-width: 290px;
}

.page-title img {
    padding: 36px 28px;
}

.description, .second-description {
    padding: 36px 28px;
}

.description {
    width: 40%;
}

.second-description {
    width: 39%;
}

.center {
    text-align: center;
    display: block;
}

.vertical-line {
    width: 1px;
    margin: 36px 0px;
}

/* Who */
.image-who {
    width: 100%;
}

.content-who {
    background-color: #974f53;
}

.vertical-line-who {
    border-left: 1px solid #dc6c72;
}

img.linkedin {
    margin: 5px;
}

/* Media */
.content-media {
    background-color: #3b5f6f;
}

.vertical-line-media {
    border-left: 1px solid #528aa2;
}

.media-description {
    width: 100%;
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1; 
    flex: 1;
}

.image-media {
    text-align: center
}

.image-media .box img {
    width: 100%;
}

.slider-slides {
    /*    top: 40px;*/
}

.slider-pager {
    top: 20px;
}

.slider-pager-page {
    color: white;
}

.left-arrow {
    top: 260px;
    left: 45px;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px;
    opacity: 0.7;
}

.right-arrow {
    top: 260px;
    right: 45px;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px;
    opacity: 0.7;
}

/* Design */
.column {
    width: 50%;
    float: left;
}

.image-design img {
    width: 100%;
}

.content-design {
    background-color: #467c77;
}

.design-description {
    width: 100%;
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1; 
    flex: 1;
}

/* Consultoria */
.image-consultoria img {
    width: 100%;
}

.content-consultoria {
    background-color: #b48324;
}

.vertical-line-consultoria {
    border-left: 1px solid #fab52f;
}

.consultoria-description {
    width: 100%;
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1; 
    flex: 1;
}

/* Projects */
.content-projects {
    background-color: #b07f20;
}

.vertical-line-projects {
    border-left: 1px solid #ecab2c;
}

/* Contact */
.content-contact {
    background-color: #3b5f6f;
}

a.contact-email {
    color: white;
}

@media only screen 
    and (max-width: 1000px) {
        .content-design, .content-consultoria {
            display: block;
        }

        .page-title-services {
            text-align: center;
            min-height: 0px;
        }

        .page-title-services img {
            padding: 36px 28px 0px 28px;
        }

        .vertical-line {
            border: 0px;
            margin: 0px !important;
        }
    }

/* Portrait and Landscape */
@media only screen 
    and (max-width: 800px) {

        .row {
            height: 50%;
            padding: 0px;
            display: initial;
        }

        .bg, .menu-item {
            height: 100%;
            width: 100%;
            /*            display: flex;*/

        }

        .page {
            border: 0px;
        }

        .image .box img {
            height: auto;
        }

        .body-center {
            width: 680px;
            margin: auto;
            display: initial;
        }

        .content {
            font-size: 20px;
            display: block;
        }

        .page-title {
            text-align: center;
            min-height: 0px;
            width: 100%;
        }

        .page-title img {
            padding: 36px 28px 0px 28px;
            box-sizing: border-box;
            width: 100%;
        }

        .second-description {
            padding: 0px 28px 36px 28px;
        }
        
        .description, .second-description {
            width: 100%;
        }

        .vertical-line {
            border: 0px;
            margin: 0px !important;
        }

        .slider-pager-page {
            color: white !important;
        }

        .left-arrow {
            top: 70px;
            left: 10px;
            position: absolute;
            z-index: 1;
        }

        .left-arrow img {
            width: 50%;
        }

        .right-arrow {
            top: 70px;
            right: 10px;
            position: absolute;
            z-index: 1;
        }

        .right-arrow img {
            width: 50%;
        }

        .column {
            width: 100%;
        }
        
        .page-title-who img {
            max-width: 226px;
        }
        
        .page-title-contact img {
            max-width: 222px;
        }
        
        .page-title-projects img {
            max-width: 337px;
        }
        
        .page-title-casa-vila-nova img {
            max-width: 379px;
        }
        
        .page-title-casa-jardim-europa img {
            max-width: 289px;
        }
        
        .page-title-cobertura-duplex img {
            max-width: 341px;
        }
        
        .page-title-alizee img {
            max-width: 249px;
        }
        
        .page-title-casa-vila img {
            max-width: 235px;
        }
        
        .page-title-media img {
            max-width: 281px;
        }
        
        .page-title-design img {
            max-width: 220px;
        }
        
        .page-title-consultoria img {
            max-width: 224px;
        }
        
        .media-bg {
            background-color: #3b5f6f;
        }
        
        .projects-bg {
            background-color: #b07f20;
        }
        
        .contact-bg {
            background-color: #3b5f6f;
        }
    }


@font-face{ 
    font-family: 'roboto-light-webfont';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-light-webfont.woff') format('woff'),
        url('../fonts/roboto-light-webfont.ttf') format('truetype'),
        url('../fonts/roboto-light-webfont.svg#webfont') format('svg');
}