body, .pane {
    border: 8px solid #dedede;    
}

.scroll {
    height: 100%;
}


html, body {
    width: 100%;
    height: 100%;
}

.row {
    height: 50%;
    padding: 0px;
    overflow: hidden;
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.menu-item {
    flex: 1;
    height: 100%;
    position: relative;
}

.menu-item-contact {
    flex: 2;
}

.bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.footer-text {
    font-family: 'roboto-light-webfont';
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.menu-vhp {
    background-position: left bottom;
}

.menu-services {
    background-position: right bottom;
}

.menu-media {
    background-position: center top;
}

.menu-contact {
    background-position: right bottom;
}

.menu-text {
    font-family: 'robotothin';
    position: absolute;
    color: white;
    top: 40%;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
}

.menu-text span {
    text-align: left;
}

.bg img {
    visibility: hidden;
}

.page {
    height: 100%;
}

.icon-menu {
    position: fixed;
    top: 22px;
    left: 22px;
    z-index: 1;
}

.bg-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
}

.body-center {
    width: 750px;
    margin: 0px auto;
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    font-family: 'roboto-light-webfont';
    text-align: justify;
    font-size: 17px;
    color: #fff;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
    width: 100%;
}

.main-image-container {
    height: 70%;
}

.main-image-container .box {
    height: 100%;
    text-align: center;
}

.main-image-container img {
    height: 100%;
}

.main-content {
    height: 30%;
}

.page-title {
    min-width: 290px;
    display: table-cell;
    vertical-align: middle;
}

.page-title img {
    padding: 15px 28px;
}

.description {
    padding: 15px 20px;
    width: 65%;
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
    display: block;
}

.vertical-line {
    width: 1px;
    margin: 15px 0px;
    display: table-cell;
}

/* Who */
.who-bg {
    background-color: #974f53;
}

.image-who {
    background-image: url('../img/bg-who.jpg');
}

.vertical-line-who {
    border-left: 1px solid #dc6c72;
}

img.linkedin {
    margin: 5px;
}

.menu-text-vhp-container {
    top: 40%;
    min-width: 225px;
    left: 56%;
}

span.menu-vhp-victor {
    font-size: 65px;
}

span.menu-vhp-hugo {
    display: block;
    font-size: 40px;
}

/* Projects */
.projects-bg {
    background-color: #b07f20;
}

.content-projects {
    background-color: #b07f20;
}

.page-title-projects {
    width: 520px;
}

.page-title-cobertura-duplex {
    width: 560px;
}

.page-title-casa-jardim-europa {
    width: 400px;
}

.page-title-casa-vila-nova {
    width: 650px;
}

.vertical-line-projects {
    border-left: 1px solid #ecab2c;
}

.menu-text-projects-container {
    top: 30%;
}

span.menu-projects-my {
    font-size: 40px;
    line-height: 50px;
}

span.menu-projects-projects {
    display: block;
    font-size: 60px;
    line-height: 30px;
    margin-left: 15px;
}

/* Design */
.column {
    width: 50%;
    height: 100%;
    float: left;
}

.image-design {
    background-image: url('../img/bg-design.jpg');
    background-position: left bottom;
}

.design-bg {
    background-color: #467c77;
}

.vertical-line-design {
    border-left: 1px solid #77c7c0;
}

.design-description {
    width: 100%;
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1; 
    flex: 1;
}

.menu-text-services-container {

}

span.menu-services {
    font-size: 50px;
}

/* Consultoria */
.image-consultoria img {
    width: 100%;
}

.image-consultoria {
    background-image: url('../img/bg-consultoria.jpg');
    background-position: right center;
}

.consultoria-bg {
    background-color: #b48324;
}

.vertical-line-consultoria {
    border-left: 1px solid #fab52f;
}

.consultoria-description {
    width: 100%;
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1; 
    flex: 1;
}

/* Media */
.media-bg {
    background-color: #3b5f6f;
}

.vertical-line-media {
    border-left: 1px solid #528aa2;
}

.media-description {
    width: 100%;
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1; 
    flex: 1;
}

.image-media {
    text-align: center
}

.image-media .box img {
    width: 100%;
}

.slider {
    height: 100%;
}

.slider-slides {
    /*    top: 40px;*/
}

.slider-pager {
    top: 20px;
}

.slider-pager-page {
    color: white;
}

.arrow {
    top: 20%;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px;
    opacity: 0.7;
}

.left-arrow {
    left: 45px;
}

.right-arrow {
    right: 45px;
}

.menu-text-media-container {
    top: 50%;
}

span.menu-media-media {
    font-size: 50px;
}

span.menu-media-and {
    display: block;
    margin-left: 115px;
    font-size: 34px;
    margin-top: -14px;
}

span.menu-media-releases {
    display: block;
    font-size: 50px;
    margin-left: 15px;
    margin-top: 5px;
}

/* Contact */
.image-contact {
    background-image: url('../img/bg-contact.jpg');
    background-position: right center;
    background-repeat: no-repeat;
}

.contact-bg {
    background-color: #3b5f6f;
}

.vertical-line-contact {
    border-left: 1px solid #528aa2;
}

a.contact-email {
    color: white;
}

.menu-text-contact-container {
    top: 30%;
    left: 5%;
    transform: translateX(-5%); */
}

span.menu-contact-contact {
    font-size: 60px;
}

span.menu-contact-phone {
    display: block;
    font-size: 20px;
}

/* Portrait and Landscape */
@media only screen 
    and (max-width: 800px) {

        .row {
            height: 50%;
            padding: 0px;
            display: initial;
        }

        .bg, .menu-item {
            width: 100%;
            height: auto;
        }

        .page {
            border: 0px;
        }

        .image .box img {
            height: auto;
        }

        .body-center {
            width: 680px;
            margin: auto;
            display: initial; 
        }

        .content {
            font-size: 20px;
            display: block;
        }

        .page-title {
            text-align: center;
            min-height: 0px;
            width: 100%;
            display: inline-block;
        }

        .page-title img {
            padding: 36px 28px 0px 28px;
            box-sizing: border-box;
            width: 100%;
        }

        .description {
            width: 100%;
            display: inline-block;
        }

        .vertical-line {
            border: 0px;
            margin: 0px !important;
            display: inline-block;
        }

        .slider-pager-page {
            color: white !important;
        }

        .left-arrow {
            left: 10px;        }

        .left-arrow img {
            width: 50%;
        }

        .right-arrow {
            right: 10px;
        }

        .right-arrow img {
            width: 50%;
        }

        .column {
            width: 100%;
            float: none;    
            height: auto;
        }

        .page-title-who img {
            max-width: 226px;
        }

        .page-title-contact img {
            max-width: 222px;
        }

        .page-title-projects img {
            max-width: 337px;
        }

        .page-title-casa-vila-nova img {
            max-width: 379px;
        }

        .page-title-casa-jardim-europa img {
            max-width: 289px;
        }

        .page-title-cobertura-duplex img {
            max-width: 341px;
        }

        .page-title-alizee img {
            max-width: 249px;
        }

        .page-title-casa-vila img {
            max-width: 235px;
        }

        .page-title-media img {
            max-width: 281px;
        }

        .page-title-design img {
            max-width: 220px;
        }

        .page-title-consultoria img {
            max-width: 224px;
        }

        .media-bg {
            background-color: #3b5f6f;
        }

        .main-image-container {
            /*            height: auto;*/
        }

        .main-image-container .box {
            height: 100%;
            text-align: center;
        }

        .main-image-container img {
            width: 100%;
        }

        .footer-text {
            bottom: 10px;
            text-align: center;
            width: 100%;
            right: 0px;
            font-size: 12px;
        }
        
        .image-design {
            height: 400px;
        }
        
        .image-consultoria {
            height: 400px;
        }
}

@media only screen 
    and (max-width: 1000px) {
        .design-bg, .consultoria-bg {
            display: block;
        }

        .page-title-services {
            text-align: center;
            min-height: 0px;
        }

        .page-title-services img {
            padding: 36px 28px 0px 28px;
        }
}

@media screen and ( min-height: 800px ){
    .bg-image {
        height: 75%;
    }
}

@font-face{ 
    font-family: 'roboto-light-webfont';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-light-webfont.woff') format('woff'),
        url('../fonts/roboto-light-webfont.ttf') format('truetype'),
        url('../fonts/roboto-light-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thin-webfont.woff') format('woff'),
        url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
        url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}