<ion-view class="projects-bg">
    <div class="icon-menu">
        <a href="#/projetos">
            <img src="./assets/img/icon-menu-projects.png" />
        </a>
    </div>
    <ion-content>
        <div class="page">
            <div class="main-image-container">
                <div class="box"><img src="./assets/img/projeto-alizee.jpg" /></div>
            </div>
            <div class="content main-content content-projects">
                <div class="body-center">
                    <div class="page-title page-title-alizee">
                        <img src="./assets/img/title-projeto-alizee.png" />
                    </div>
                    <div class="line vertical-line vertical-line-projects"></div>
                    <div class="description">
                        Prejto comercial da  loja Alizee store,
                        no bairro Jardins (SP)
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>