<ion-view class="projects-bg">
    <div class="icon-menu">
        <a href="#/projetos">
            <img src="./assets/img/icon-menu-projects.png" />
        </a>
    </div>
    <ion-content>
        <div class="page">
            <div class="main-image-container">
                <ion-slide-box does-continue="true" active-slide="vm.currentIndex">
                    <ion-slide>
                        <div class="box"><img src="./assets/img/projeto-casa-vila.jpg" /></div>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="content main-content content-projects">
                <div class="body-center">
                    <div class="page-title page-title-casa-vila">
                        <img src="./assets/img/title-projeto-casa-vila.png" />
                    </div>
                    <div class="line vertical-line vertical-line-projects"></div>
                    <div class="description">
                        Projeto de design realizado 
                        em uma casa de vila 
                        no bairro Moema (SP)
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>