<ion-view class="projects-bg">
    <div class="icon-menu">
        <a href="#/menu"><img src="./assets/img/icon-menu-projects.png" /></a>
    </div>
    <ion-content>
        <div class="page">
            <div class="image image-projects">
                <div class="row projects-row">
                    <div class="menu-item">
                        <a href="#/projeto/casa-vila-nova">
                            <div class="bg" style="background-image:url('./assets/img/project-1.jpg');">
                                <img src="./assets/img/project-1.jpg" width="80%" />
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="#/projeto/casa-jardim-europa">
                            <div class="bg" style="background-image:url('./assets/img/project-2.jpg');">
                                <img src="./assets/img/project-2.jpg" width="80%" />
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="#/projeto/cobertura">
                            <div class="bg" style="background-image:url('./assets/img/project-3.jpg');">
                                <img src="./assets/img/project-3.jpg" width="80%" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row projects-row">
                    <div class="menu-item">
                        <a href="#/projeto/alizee">
                            <div class="bg" style="background-image:url('./assets/img/project-4.jpg');">
                                <img src="./assets/img/project-4.jpg" width="80%" />
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="#/projeto/casa-vila">
                            <div class="bg" style="background-image:url('./assets/img/project-5.jpg');">
                                <img src="./assets/img/project-5.jpg" width="80%" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content content-projects">
                <div class="body-center">
                    <div class="page-title page-title-projects">
                        <img src="./assets/img/title-projects.png" />
                    </div>
                    <div class="line vertical-line vertical-line-projects"></div>
                    <div class="description">
                        Em cada projeto, enfrento o desafio de definir um novo layout ao imóvel e o supero aplicando soluções criativas de funcionalidade e modernização para redefinir cada ambiente.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>