<ion-view class="projects-bg">
    <div class="icon-menu">
        <a href="#/projetos">
            <img src="./assets/img/icon-menu-projects.png" />
        </a>
    </div>
    <ion-content>
        <div class="page">
            <div class="main-image-container">
                <div class="arrow left-arrow" data-ng-click="vm.movePrevious();">
                    <a href=""><img src="./assets/img/arrow-left.png" /></a>
                </div>
                <ion-slide-box does-continue="true" active-slide="vm.currentIndex">
                    <ion-slide>
                        <div class="box"><img src="./assets/img/projeto-casa-vila-nova-1.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/projeto-casa-vila-nova-2.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/projeto-casa-vila-nova-3.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/projeto-casa-vila-nova-4.jpg" /></div>
                    </ion-slide>
                </ion-slide-box>
                <div class="arrow right-arrow" data-ng-click="vm.moveNext();">
                    <a href=""><img src="./assets/img/arrow-right.png" /></a>
                </div>
            </div>
            <div class="content main-content content-projects">
                <div class="body-center">
                    <div class="page-title page-title-casa-vila-nova">
                        <img src="./assets/img/title-projeto-casa-vila-nova.png" />
                    </div>
                    <div class="line vertical-line vertical-line-projects"></div>
                    <div class="description">
                        Projeto de design realizado em 
                        uma casa no bairro 
                        Vila Nova Conceição (SP)
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>