<ion-view class="contact-bg">
    <ion-content>
        <div class="page">
            <div class="icon-menu">
                <a href="#/menu"><img src="./assets/img/icon-menu-contact.png" /></a>
            </div>
            <div class="image image-who">
                <img src="./assets/img/bg-contact.jpg" />
            </div>
            <div class="content content-contact">
                <div class="body-center">
                    <div class="page-title page-title-contact">
                        <img src="./assets/img/title-contact.png" />
                    </div>
                    <div class="description">
                        Entre em contato ou agende <br />
                        uma reunião, enviando <br />
                        um e-mail para <br />
                        <a class="contact-email" href="mailto:vhpdesigner@gmail.com">vhpdesigner@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>