<ion-view class="contact-bg">
    <div class="icon-menu">
        <a href="#/menu"><img src="./assets/img/icon-menu-contact.png" /></a>
    </div>
    <ion-content>
        <div class="page">
            <div class="bg-image image-contact"></div>
            <div class="content main-content contact-bg">
                <div class="body-center">
                    <div class="page-title page-title-contact">
                        <img src="./assets/img/title-contact.png" />
                    </div>
                    <div class="description">
                        Entre em contato pelo telefone <br />
                        +55 11 98219 6385<br/>
                        ou agende uma reunião, enviando um e-mail para <br />
                        <a class="contact-email" href="mailto:vhpdesigner@gmail.com">vhpdesigner@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>