<ion-view class="media-bg">
    <ion-content>
        <div class="page">
            <div class="icon-menu">
                <a href="#/menu">
                    <img src="./assets/img/icon-menu-media.png" />
                </a>
            </div>
            <div class="image image-media">
                <div class="left-arrow" data-ng-click="vm.movePrevious();">
                    <a href="#"><img src="./assets/img/arrow-left.png" /></a>
                </div>
                <ion-slide-box does-continue="true" active-slide="vm.currentIndex">
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-01.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-02.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-03.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-04.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-05.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-06.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-07.jpg" /></div>
                    </ion-slide>
                    <ion-slide>
                        <div class="box"><img src="./assets/img/media-08.jpg" /></div>
                    </ion-slide>
                </ion-slide-box>
                <div class="right-arrow" data-ng-click="vm.moveNext();">
                    <a href="#"><img src="./assets/img/arrow-right.png" /></a>
                </div>
            </div>
            <div class="content content-media">
                <div class="body-center">
                    <div class="page-title page-title-media">
                        <img src="./assets/img/title-media.png" />
                    </div>
                    <div class="line vertical-line vertical-line-media"></div>
                    <div class="description media-description">
                        Este é o espaço reservado para todos os meus projetos que foram publicados em revistas de decoração e design de interiores.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>