<ion-view>
    <ion-content>
        <div class="row">
            <div class="menu-item">
                    <div class="bg" data-ibg-bg="assets/img/menu-vhp.jpg">
                    </div>
            </div>
            <div class="menu-item">
                <a href="#/projetos" style="height:100%;width:100%">
                    <div class="bg" data-ibg-bg="assets/img/menu-projetos.jpg">
<!--                        <img src="assets/img/menu-projetos.jpg">-->
                    </div>
                </a>
            </div>
            <div class="menu-item">
                <a href="#/servicos" style="height:100%;width:100%">
                    <div class="bg" data-ibg-bg="assets/img/menu-servicos.jpg">
<!--                        <img src="assets/img/menu-servicos.jpg">-->
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="menu-item">
                <a href="#/midia" style="height:100%;width:100%">
                    <div class="bg" data-ibg-bg="assets/img/menu-media.jpg">
<!--                        <img src="assets/img/menu-media.jpg">-->
                    </div>
                </a>
            </div>
            <div class="menu-item">
                <a href="#/contato" style="height:100%;width:100%">
                    <div class="bg" data-ibg-bg="assets/img/menu-contato.jpg">
<!--                        <img src="assets/img/menu-contato.jpg">-->
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>